# Kaggle SF Salaries Dataset Assignment

In [ ]:
__author__ = "Renan Luiz Andrade Vital"
__email__ = "vitalrenan@icloud.com"


"""
    This is a data analysis report from San Francisco city employee salary dataset from Kaggle. 
    dataset url: https://www.kaggle.com/kaggle/sf-salaries    
    
"""

In [1]:
#We're usign Pandas and numpy libs in order to create dataframes from Kaggle Dataset
import pandas as pd
import numpy as np


#opening .csv dataset
df = pd.read_csv("Salaries.csv")

#Checking the DF
df.head()

C:\Users\Renan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [2]:
#Checking entries 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

The avarage Base Payment in SF

In [3]:
#since the col "BasePay" have string values with description "Not provided"
#I decided to exclude those values from de DF

#First I droped the rows with "Not Provided" values
df.drop(df.loc[df['BasePay']=='Not Provided'].index, inplace=True)

#Some of the numeric values were String values, then I converted them on float values
df['BasePay'] = df['BasePay'].astype('float', errors="ignore")

#Now the col "BasePay" can perform mean method
BasePay_mean = df['BasePay'].mean()

#formating result
print("The avarage salary in SF is US${:,.2f}".format(BasePay_mean))

The avarage salary in SF is US$66,325.45

The highest value from OvertimePay

In [4]:
#Droping Not provided Values and converting col to float data type
df.drop(df.loc[df["OvertimePay"]=='Not Provided'].index, inplace=True)
df["OvertimePay"] = df["OvertimePay"].astype('float', errors="ignore")

#Extracting the max value with max method:
maxOvertimePay = df["OvertimePay"].max()

#Formatting result
print("The highest value from OvertimePay is US${:,.2f}".format(maxOvertimePay))

The highest value from OvertimePay is US$245,131.88

What JOSEPH DRISCOLL does for a living and how much he does ?

In [5]:
#Extracting the employee job title
employee = df[df['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle'].item()

#Extracting the employee total payment
totalpayment = df[df['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits'].item()

#Formatting result
print("JOSEPH DRISCOLL is {} and he earns US${:,.2f}".format(employee,totalpayment))

JOSEPH DRISCOLL is CAPTAIN, FIRE SUPPRESSION and he earns US$270,324.91

Name of the highest paid person including benefits

In [6]:
#Extracting the name of the highest paid person with method max() 
HighestPaid = df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]['EmployeeName'].item() 

#Extracting the amount of the highest paid person salary 
Highestvalue = df[df['TotalPayBenefits']==df['TotalPayBenefits'].max()]['TotalPayBenefits'].item() 
print("The highest paid person is {}, and he earns US${:,.2f}".format(HighestPaid,Highestvalue))

The highest paid person is NATHANIEL FORD, and he earns US$567,595.43

Collect all the data from the lowest paid person including benefits

In [7]:
#Applying method argmin() to extract data from the lowes payment value
df.iloc[df['TotalPayBenefits'].argmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

The avarage BasePay of SF per year, between 2011 and 2014

In [8]:
df.groupby("Year").mean()["BasePay"]

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [9]:
#Applying methos mean over BasePay values grouped by Year, through groupby() method
avgPayment = df.groupby("Year").mean()["BasePay"].to_numpy()

print("The avarage of base Payment: \n in 2011 was US${:,.2f} \n in 2012 was US${:,.2f} \n in 2013 was US${:,.2f} \n in 2014 was US${:,.2f}".format(avgPayment[0], avgPayment[1], avgPayment[2], avgPayment[3]))

The avarage of base Payment:
 in 2011 was US$63,595.96
 in 2012 was US$65,436.41
 in 2013 was US$69,630.03
 in 2014 was US$66,564.42

What are the top 5 most common jobs in SF?

In [10]:
#applying value_counts() method to extract the quantity of employees with the same job position
df['JobTitle'].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

How many jobs were represented by 1 person in 2013?

In [11]:
#selecting year 2013 and then applying value_counts() with value 1 on JobTitle col
unique_employees = sum(df[df['Year']==2013]['JobTitle'].value_counts()==1)

#Formatting results
print("There are {} employees on job positions alone".format(unique_employees))

There are 202 employees on job positions alone

How many people have Chief in their job name?

In [12]:
#This functions returns bools after passing job titles as arguments containg thw word chief
def chief(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

#applying chief function over JobTitle col, then sum funtion over bool values
chiefs = sum(df["JobTitle"].apply(lambda x: chief(x)))

#Formatting results
print("There are {} chiefs job positions in SF".format(chiefs))

There are 477 chiefs job positions in SF

Correlation between Job Title length and Salary

In [13]:
#Creating new col with job positions length 
df['JTLength'] = df['JobTitle'].apply(len)

#Correlation between salaries and lob position names sizes
df[['JTLength','TotalPayBenefits']].corr()

                  JTLength  TotalPayBenefits
JTLength           1.00000          -0.03692
TotalPayBenefits  -0.03692           1.00000